.bg-gradient-primary{
  background: #01c5c4;
}
.bg-light-blue {
  background-color: #baf1eb;
}
.imagen{
  background-image: url("https://i.pinimg.com/originals/93/3c/d5/933cd5526dcf5fa4f3cf53397df53f26.jpg");
}
.passimagen{
  background-image: url("https://media.revistagq.com/photos/5cd5804bd1dca86286c0929f/16:9/w_1920,c_limit/mejores%20bicicletas%20de%20montan%CC%83a.jpg");
}
.imagenreg{
  background-image: url("https://i.pinimg.com/236x/d9/3b/20/d93b20ec01715b3d4abda2e9bfa312c2.jpg");
}
header.masthead {
  background-image: url(../assets/img/bici3.jpg);
}
.logo-rut,.logo-rent {
  width: 130px;
}
.timeline > li .timeline-image {
  background-color: #26cce2;
}

/*Login page styles*/
.btn-social {
  display: inline-flex;
  padding: 0;
  border-radius: 100%;
}
.btn-primary {
  color: #fff;
  background-color: #26cce2;
  border-color: #26cce2;
}
.btn-primary:hover {
  color: #fff;
  background-color: #04afae;
  border-color: #04afae;
}
.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color:#26cce2;
  border-color:#26cce2;
  box-shadow: 0 0 0 0.2rem rgba(1, 197, 196, 0.5);
}
#mainNav .navbar-nav .nav-item .nav-link.active2 {
  color: #01c5c4;
}
.img-profile {
    height: 2rem;
    width: 2rem;
}
.dropdown-toggle::after {
  display: none;
}