/*Routes page styles*/
header.masthead {
    background-image: url("../assets/img/routes/routes-banner2.jpg");
}
.bg-light-blue {
    background-color: #baf1eb;
}
#mainNav .navbar-nav .nav-item .nav-link.active2 {
    color: #01c5c4;

}